*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: 'Ubuntu', sans-serif;;
}

.container{
    width: 1024px;
    margin: auto;
}

.header{
    background: #000;
    
}

.header-menu{}
.header-menu ul{
    list-style-type: none;
    text-align: center;
}
.header-menu ul li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.header-menu ul li a {
	display: inline-block;
	text-decoration: none;
	color: rgb(186, 183, 183);
	font-weight: 500;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	padding: 66px 20px;
}
.header-menu ul li:hover > a{
    color: #fff;
}

.header-menu ul li ul {
	position: absolute;
	top: 100%;
	left: 0;
	background: rgba(0, 0, 0, 0.682);
	border-top: 4px solid rgb(27, 112, 218);
	opacity: 0;
	visibility: hidden;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transform: scaleY(0);
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform-origin: top center;
}
.header-menu ul li ul li{
    display: block;
    margin: 0;
}
.header-menu ul li ul li a {
	display: block;
	padding: 14px 76px;
	color: #fff;
	border-bottom: 1px solid gray;
}
.header-menu ul li ul li a:hover{
    background: rgb(27, 112, 218);
}

.header-menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}

.header-menu ul li ul li ul{
    position: absolute;
    left: 100%;
    top: 0;
}


/* banner Css */

.banner{
    background: url(./image/young-mens.jpg)  center center no-repeat;
    background-size: cover;
    padding: 250px 0;
}

.banner-content{
    text-align: center;
}

.banner-content h1 {
	background: #fff;
	font-size: 41px;
	width: 270px;
	padding: 10px 10px;
	display: inline-block;
}
.banner-content p {
	background: #fff;
	font-size: 22px;
	margin: 20px;
}
.banner-content a {
    display: inline-block;
    text-decoration: none;
    background: red;
    color: #fff;
    font-size: 17px;
    padding: 10px 10px;
    transition: .3s;
   
}
.banner-content a:hover{
    background: #fff;
    color: #000;
    border: 3px solid #000;
  
}

/* Content Design */
.content{
    margin-top: 10px;
}
.content-outline-header h1 {
	text-align: center;
	margin-bottom: 20px;
}
.content-outline {
	border: 1px solid gray;
	
	
    padding: 50px 0;
}
.content-outline-header{}

.content-outline ul{
    list-style-position: outside;
}
.content-outline ul li{
    margin-bottom: 20px;
}
.content-outline ul li p{
    text-align: center;
}


.content-inline {
	margin-top: 20px;

	box-shadow: 0px 0px 20px -15px rgba(0,0,0,.5);
	padding: 10px;
}
.content-inline-text ul{
    list-style-position: inside;
}
.content-inline-text ul li{
    margin-bottom: 20px;
    text-align: center;
}
.content-inline ul li p{
    
}

/* contact css */
.contact{
    background: #f2f2f2;
    padding: 60px 40px;
    margin-top: 50px;
}
.contact-form{
   
    text-align: center;
}
.contact-form form{}
.contact-form form input{
 
}

.contact-form form input[type="email"] {
	display: inline-block;
	border: none;
	font-size: 16px;
	width: 510px;
	padding: 15px 10px;
	border-bottom: 1px solid red;
}
.contact-form form button {
	display: inline-block;
	border: none;
	background: red;
	padding: 15px 50px;
	font-size: 17px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	position: relative;
	left: -4px;
	top: 0;
}
.contact-form form button:hover{
    background: #fff;
    color: #000;
    border: 3px solid #000;
}
.contact-form form button:hover{
    background: #fff;
    color: #000;
    border: 3px solid #000;
}


/* listy style css */

.list-style{
    padding: 80px 0;
    margin-top: 50px;
    border: 3px dotted rgba(128, 128, 128, 0.414);
}

.list-styles {
	text-align: center;
}
.style{
    width: 30%;
    display: inline-block;
}
.style ul{
    
}
.style-one ul{
    list-style-type: lower-roman;
}
.style-two ul{
    list-style-type: disc;
}
.style-three ul{
    list-style-type: armenian;
}

.list-header h1 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 32px;
}


/* footer Design */
.footer{
    background: #000;
    padding: 30px 0;
}
.footer-content{}
.footer-content p{
    text-align: center;
    color: #fff;
}
.footer-menu{
    margin-top: 30px;
}
.footer-menu ul{
    list-style-type: none;
    text-align: center;
}
.footer-menu ul li {
	display: inline-block;
	margin: 0 6px;
}
.footer-menu ul li a {
    display: inline-block;
    font-size: 18px;
    background: rgb(27, 112, 218);
    color: #000;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    transition:.4s;
    -webkit-transition:.4s;
    -moz-transition:.4s;
    -ms-transition:.4s;
    -o-transition:.4s;
}
.footer-menu ul li a:hover{
    background: #fff;

}

/* end */